In [1]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("./Data/starbucks csv.delimited.csv")

df

,storeNumber,countryCode,ownershipTypeCode,schedule,streetAddressLine1,streetAddressLine2,city,countrySubdivisionCode,currentTimeOffset,windowsTimeZoneId,olsonTimeZoneId
0,34638-85784,HK,LS,"[{'dayName': 'Today', 'hours': '8:30 AM to 10:...","Level 2, Plaza Hollywood, Diamond Hill,",Kowloon,Hong Kong,91,480,China Standard Time,GMT+08:00 Asia/Hong_Kong
1,32141-267986,HK,LS,"[{'dayName': 'Today', 'hours': '7:30 AM to 10:...","Shop No. G3B, Ground Floor, Wong Tai Sin","Shopping Centre, Wong Tai Sin, Kowloon",Hong Kong,91,480,China Standard Time,GMT+08:00 Asia/Hong_Kong
2,15035-155445,HK,LS,"[{'dayName': 'Today', 'hours': '8:00 AM to 10:...","Shop No. G01, Ground Floor, Mikiki 638","Prince Edward Road East,",Kowloon,91,480,China Standard Time,GMT+08:00 Asia/Hong_Kong
3,49646-268445,HK,LS,"[{'dayName': 'Today', 'hours': '8:00 AM to 10:...",九龍九龍城廣場 地下低層LG10舖,NaN,香港,91,480,China Standard Time,GMT+08:00 Asia/Hong_Kong
4,31944-224544,HK,LS,"[{'dayName': 'Today', 'hours': '8:00 AM to 8:3...","Shop 48, G/F,HK Int'l Trade & Exhibit","1 Trademart Drive, Kowloon Bay",Hong Kong,91,480,China Standard Time,GMT+08:00 Asia/Hong_Kong
...,...,...,...,...,...,...,...,...,...,...,...
28284,75260-79935,US,LS,"[{'dayName': 'Today', 'hours': '7:30 AM to 8:3...","118 College Drive, Cook Library",NaN,Hattiesburg,MS,-300,Central Standard Time,GMT-06:00 America/Chicago
28285,61780-293957,US,CO,"[{'dayName': 'Today', 'hours': '5:30 AM to 9:0...",1600 N Mississippi Ave,NaN,Ada,OK,-300,Central Standard Time,GMT-06:00 America/Chicago
28286,62119-295832,US,CO,"[{'dayName': 'Today', 'hours': '6:00 AM to 8:0...","1908 Memorial Dr.,",B,Waycross,GA,-240,Eastern Standard Time,GMT-05:00 America/New_York
28287,79384-104222,US,LS,"[{'dayName': 'Today', 'hours': '6:00 AM to 9:0...",1606 Memorial Dr.,NaN,Waycross,GA,-240,Eastern Standard Time,GMT-05:00 America/New_York
28288,60583-293077,US,CO,"[{'dayName': 'Today', 'hours': '5:30 AM to 10:...",181 Westfield St,NaN,Hartsville,SC,-240,Eastern Standard Time,GMT-05:00 America/New_York

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28289 entries, 0 to 28288
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   storeNumber             28289 non-null  object
 1   countryCode             28289 non-null  object
 2   ownershipTypeCode       28289 non-null  object
 3   schedule                23204 non-null  object
 4   streetAddressLine1      28288 non-null  object
 5   streetAddressLine2      7966 non-null   object
 6   city                    28288 non-null  object
 7   countrySubdivisionCode  28289 non-null  object
 8   currentTimeOffset       28289 non-null  int64
 9   windowsTimeZoneId       28289 non-null  object
 10  olsonTimeZoneId         28289 non-null  object
dtypes: int64(1), object(10)
memory usage: 2.4+ MB

In [4]:
df.drop(columns='streetAddressLine2', inplace=True)

In [5]:
df

,storeNumber,countryCode,ownershipTypeCode,schedule,streetAddressLine1,city,countrySubdivisionCode,currentTimeOffset,windowsTimeZoneId,olsonTimeZoneId
0,34638-85784,HK,LS,"[{'dayName': 'Today', 'hours': '8:30 AM to 10:...","Level 2, Plaza Hollywood, Diamond Hill,",Hong Kong,91,480,China Standard Time,GMT+08:00 Asia/Hong_Kong
1,32141-267986,HK,LS,"[{'dayName': 'Today', 'hours': '7:30 AM to 10:...","Shop No. G3B, Ground Floor, Wong Tai Sin",Hong Kong,91,480,China Standard Time,GMT+08:00 Asia/Hong_Kong
2,15035-155445,HK,LS,"[{'dayName': 'Today', 'hours': '8:00 AM to 10:...","Shop No. G01, Ground Floor, Mikiki 638",Kowloon,91,480,China Standard Time,GMT+08:00 Asia/Hong_Kong
3,49646-268445,HK,LS,"[{'dayName': 'Today', 'hours': '8:00 AM to 10:...",九龍九龍城廣場 地下低層LG10舖,香港,91,480,China Standard Time,GMT+08:00 Asia/Hong_Kong
4,31944-224544,HK,LS,"[{'dayName': 'Today', 'hours': '8:00 AM to 8:3...","Shop 48, G/F,HK Int'l Trade & Exhibit",Hong Kong,91,480,China Standard Time,GMT+08:00 Asia/Hong_Kong
...,...,...,...,...,...,...,...,...,...,...
28284,75260-79935,US,LS,"[{'dayName': 'Today', 'hours': '7:30 AM to 8:3...","118 College Drive, Cook Library",Hattiesburg,MS,-300,Central Standard Time,GMT-06:00 America/Chicago
28285,61780-293957,US,CO,"[{'dayName': 'Today', 'hours': '5:30 AM to 9:0...",1600 N Mississippi Ave,Ada,OK,-300,Central Standard Time,GMT-06:00 America/Chicago
28286,62119-295832,US,CO,"[{'dayName': 'Today', 'hours': '6:00 AM to 8:0...","1908 Memorial Dr.,",Waycross,GA,-240,Eastern Standard Time,GMT-05:00 America/New_York
28287,79384-104222,US,LS,"[{'dayName': 'Today', 'hours': '6:00 AM to 9:0...",1606 Memorial Dr.,Waycross,GA,-240,Eastern Standard Time,GMT-05:00 America/New_York
28288,60583-293077,US,CO,"[{'dayName': 'Today', 'hours': '5:30 AM to 10:...",181 Westfield St,Hartsville,SC,-240,Eastern Standard Time,GMT-05:00 America/New_York

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28289 entries, 0 to 28288
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   storeNumber             28289 non-null  object
 1   countryCode             28289 non-null  object
 2   ownershipTypeCode       28289 non-null  object
 3   schedule                23204 non-null  object
 4   streetAddressLine1      28288 non-null  object
 5   city                    28288 non-null  object
 6   countrySubdivisionCode  28289 non-null  object
 7   currentTimeOffset       28289 non-null  int64
 8   windowsTimeZoneId       28289 non-null  object
 9   olsonTimeZoneId         28289 non-null  object
dtypes: int64(1), object(9)
memory usage: 2.2+ MB

In [7]:
df.dropna(axis='index', how="any", subset=['city'], inplace=True)

# df.loc[df['countryCode'] == "MY", 'city'].unique()

In [8]:
f = df['countryCode'].unique()

In [9]:
def counter(f):
    x = 0
    for i in f:
        x+=1

    print(x)

In [10]:
df

,storeNumber,countryCode,ownershipTypeCode,schedule,streetAddressLine1,city,countrySubdivisionCode,currentTimeOffset,windowsTimeZoneId,olsonTimeZoneId
0,34638-85784,HK,LS,"[{'dayName': 'Today', 'hours': '8:30 AM to 10:...","Level 2, Plaza Hollywood, Diamond Hill,",Hong Kong,91,480,China Standard Time,GMT+08:00 Asia/Hong_Kong
1,32141-267986,HK,LS,"[{'dayName': 'Today', 'hours': '7:30 AM to 10:...","Shop No. G3B, Ground Floor, Wong Tai Sin",Hong Kong,91,480,China Standard Time,GMT+08:00 Asia/Hong_Kong
2,15035-155445,HK,LS,"[{'dayName': 'Today', 'hours': '8:00 AM to 10:...","Shop No. G01, Ground Floor, Mikiki 638",Kowloon,91,480,China Standard Time,GMT+08:00 Asia/Hong_Kong
3,49646-268445,HK,LS,"[{'dayName': 'Today', 'hours': '8:00 AM to 10:...",九龍九龍城廣場 地下低層LG10舖,香港,91,480,China Standard Time,GMT+08:00 Asia/Hong_Kong
4,31944-224544,HK,LS,"[{'dayName': 'Today', 'hours': '8:00 AM to 8:3...","Shop 48, G/F,HK Int'l Trade & Exhibit",Hong Kong,91,480,China Standard Time,GMT+08:00 Asia/Hong_Kong
...,...,...,...,...,...,...,...,...,...,...
28284,75260-79935,US,LS,"[{'dayName': 'Today', 'hours': '7:30 AM to 8:3...","118 College Drive, Cook Library",Hattiesburg,MS,-300,Central Standard Time,GMT-06:00 America/Chicago
28285,61780-293957,US,CO,"[{'dayName': 'Today', 'hours': '5:30 AM to 9:0...",1600 N Mississippi Ave,Ada,OK,-300,Central Standard Time,GMT-06:00 America/Chicago
28286,62119-295832,US,CO,"[{'dayName': 'Today', 'hours': '6:00 AM to 8:0...","1908 Memorial Dr.,",Waycross,GA,-240,Eastern Standard Time,GMT-05:00 America/New_York
28287,79384-104222,US,LS,"[{'dayName': 'Today', 'hours': '6:00 AM to 9:0...",1606 Memorial Dr.,Waycross,GA,-240,Eastern Standard Time,GMT-05:00 America/New_York
28288,60583-293077,US,CO,"[{'dayName': 'Today', 'hours': '5:30 AM to 10:...",181 Westfield St,Hartsville,SC,-240,Eastern Standard Time,GMT-05:00 America/New_York

###  note: Checking for the unique country's with missing values for 'schedule'

In [11]:
df['countryCode'].unique()

array(['HK', 'AE', 'OM', 'AR', 'AT', 'SK', 'CZ', 'BE', 'NL', 'BG', 'BH',
       'SA', 'BS', 'CA', 'US', 'MX', 'TR', 'TW', 'GB', 'CN', 'KR', 'SG',
       'JP', 'HU', 'RU', 'FR', 'ID', 'MY', 'TH', 'PH', 'PE', 'AW', 'PL',
       'ES', 'RO', 'SV', 'PT', 'CL', 'KW', 'LB', 'MO', 'GT', 'GR', 'BN',
       'NZ', 'QA', 'DE', 'IE', 'JO'], dtype=object)

In [12]:
df.loc[df["schedule"].isna() == True, 'countryCode'].value_counts()

countryCode
JP    1660
KR    1227
TW     504
ID     290
SA     210
MY     161
SG     150
TH     107
KW      86
AE      84
MX      78
US      74
PH      57
QA      39
TR      37
RO      34
CN      34
LB      31
GR      28
BH      27
HK      24
JO      21
HU      16
CA      13
MO      12
BS      12
BG      11
OM      10
SV       7
GB       6
PE       6
ES       4
AW       4
FR       4
PT       3
RU       3
GT       3
BE       2
SK       1
NL       1
PL       1
BN       1
IE       1
Name: count, dtype: int64

In [13]:
pd.set_option('display.max_colwidth',None)
pd.set_option('display.max_columns',None)

g= df.loc[df['countryCode'] == 'JP', 'schedule']

In [14]:
g.loc[g.isna() == False]

19587    [{'dayName': 'Today', 'hours': '9:00 AM to 11:00 PM', 'open': True, 'holiday': ''}, {'dayName': 'Tomorrow', 'hours': '9:00 AM to 11:00 PM', 'open': True, 'holiday': ''}, {'dayName': 'Thursday', 'hours': '9:00 AM to 11:00 PM', 'open': True, 'holiday': ''}, {'dayName': 'Friday', 'hours': '9:00 AM to 12:00 AM', 'open': True, 'holiday': ''}, {'dayName': 'Saturday', 'hours': '9:00 AM to 12:00 AM', 'open': True, 'holiday': ''}, {'dayName': 'Sunday', 'hours': '9:00 AM to 12:00 AM', 'open': True, 'holiday': ''}, {'dayName': 'Monday', 'hours': '9:00 AM to 11:00 PM', 'open': True, 'holiday': ''}]
20157                                                                             [{'dayName': 'Today', 'hours': 'Closed', 'open': False, 'holiday': ''}, {'dayName': 'Tomorrow', 'hours': '6:00 AM to 9:00 PM', 'open': True, 'holiday': ''}, {'dayName': 'Thursday', 'hours': 'Closed', 'open': False, 'holiday': ''}, {'dayName': 'Friday', 'hours': 'Closed', 'open': False, 'holiday': ''}, {'dayName': 'Saturday', 'hours': 'Closed', 'open': False, 'holiday': ''}, {'dayName': 'Sunday', 'hours': 'Closed', 'open': False, 'holiday': ''}, {'dayName': 'Monday', 'hours': 'Closed', 'open': False, 'holiday': ''}]
20356           [{'dayName': 'Today', 'hours': '6:00 AM to 8:00 PM', 'open': True, 'holiday': ''}, {'dayName': 'Tomorrow', 'hours': '6:00 AM to 8:00 PM', 'open': True, 'holiday': ''}, {'dayName': 'Thursday', 'hours': '6:00 AM to 8:00 PM', 'open': True, 'holiday': ''}, {'dayName': 'Friday', 'hours': '6:00 AM to 8:00 PM', 'open': True, 'holiday': ''}, {'dayName': 'Saturday', 'hours': '6:00 AM to 8:00 PM', 'open': True, 'holiday': ''}, {'dayName': 'Sunday', 'hours': '6:00 AM to 8:00 PM', 'open': True, 'holiday': ''}, {'dayName': 'Monday', 'hours': '6:00 AM to 8:00 PM', 'open': True, 'holiday': ''}]
22216                                                                             [{'dayName': 'Today', 'hours': 'Closed', 'open': False, 'holiday': ''}, {'dayName': 'Tomorrow', 'hours': 'Closed', 'open': False, 'holiday': ''}, {'dayName': 'Thursday', 'hours': 'Closed', 'open': False, 'holiday': ''}, {'dayName': 'Friday', 'hours': '6:00 AM to 9:00 PM', 'open': True, 'holiday': ''}, {'dayName': 'Saturday', 'hours': 'Closed', 'open': False, 'holiday': ''}, {'dayName': 'Sunday', 'hours': 'Closed', 'open': False, 'holiday': ''}, {'dayName': 'Monday', 'hours': 'Closed', 'open': False, 'holiday': ''}]
22856                      [{'dayName': 'Today', 'hours': '8:00 AM to 9:00 PM', 'open': True, 'holiday': ''}, {'dayName': 'Tomorrow', 'hours': '8:00 AM to 9:00 PM', 'open': True, 'holiday': ''}, {'dayName': 'Thursday', 'hours': '8:00 AM to 9:00 PM', 'open': True, 'holiday': ''}, {'dayName': 'Friday', 'hours': '8:00 AM to 9:00 PM', 'open': True, 'holiday': ''}, {'dayName': 'Saturday', 'hours': '8:00 AM to 4:00 PM', 'open': True, 'holiday': ''}, {'dayName': 'Sunday', 'hours': 'Closed', 'open': False, 'holiday': ''}, {'dayName': 'Monday', 'hours': '8:00 AM to 9:00 PM', 'open': True, 'holiday': ''}]
Name: schedule, dtype: object

In [15]:
pd.set_option('display.max_colwidth',50)
pd.set_option('display.max_columns',19)

In [16]:
{'dayName': 'Today', 
 'hours': '8:30 AM to 10:30 PM', 
 'open': True, 
 'holiday': ''}

{'dayName': 'Today',
 'hours': '8:30 AM to 10:30 PM',
 'open': True,
 'holiday': ''}

In [17]:

{'dayName': 'Tomorrow', 'hours': '8:30 AM to 10:30 PM', 'open': True, 'holiday': ''}

{'dayName': 'Tomorrow',
 'hours': '8:30 AM to 10:30 PM',
 'open': True,
 'holiday': ''}

In [18]:

{'dayName': 'Thursday', 'hours': '8:30 AM to 10:30 PM', 'open': True, 'holiday': ''}
{'dayName': 'Friday', 'hours': '8:30 AM to 10:30 PM', 'open': True, 'holiday': ''}
{'dayName': 'Saturday', 'hours': '8:30 AM to 10:30 PM', 'open': True, 'holiday': ''}
{'dayName': 'Sunday', 'hours': '8:30 AM to 10:30 PM', 'open': True, 'holiday': ''}
{'dayName': 'Monday', 'hours': '8:30 AM to 10:30 PM', 'open': True, 'holiday': ''}

{'dayName': 'Monday',
 'hours': '8:30 AM to 10:30 PM',
 'open': True,
 'holiday': ''}

splitting the data from per week to per day

In [19]:
df['schedule'].str.split('}', expand=True)

,0,1,2,3,4,5,6,7
0,"[{'dayName': 'Today', 'hours': '8:30 AM to 10:...",", {'dayName': 'Tomorrow', 'hours': '8:30 AM to...",", {'dayName': 'Thursday', 'hours': '8:30 AM to...",", {'dayName': 'Friday', 'hours': '8:30 AM to 1...",", {'dayName': 'Saturday', 'hours': '8:30 AM to...",", {'dayName': 'Sunday', 'hours': '8:30 AM to 1...",", {'dayName': 'Monday', 'hours': '8:30 AM to 1...",]
1,"[{'dayName': 'Today', 'hours': '7:30 AM to 10:...",", {'dayName': 'Tomorrow', 'hours': '7:30 AM to...",", {'dayName': 'Thursday', 'hours': '7:30 AM to...",", {'dayName': 'Friday', 'hours': '7:30 AM to 1...",", {'dayName': 'Saturday', 'hours': '7:30 AM to...",", {'dayName': 'Sunday', 'hours': '8:00 AM to 1...",", {'dayName': 'Monday', 'hours': '7:30 AM to 1...",]
2,"[{'dayName': 'Today', 'hours': '8:00 AM to 10:...",", {'dayName': 'Tomorrow', 'hours': '8:00 AM to...",", {'dayName': 'Thursday', 'hours': '8:00 AM to...",", {'dayName': 'Friday', 'hours': '8:00 AM to 1...",", {'dayName': 'Saturday', 'hours': '8:00 AM to...",", {'dayName': 'Sunday', 'hours': '9:00 AM to 1...",", {'dayName': 'Monday', 'hours': '8:00 AM to 1...",]
3,"[{'dayName': 'Today', 'hours': '8:00 AM to 10:...",", {'dayName': 'Tomorrow', 'hours': '8:00 AM to...",", {'dayName': 'Thursday', 'hours': '8:00 AM to...",", {'dayName': 'Friday', 'hours': '8:00 AM to 1...",", {'dayName': 'Saturday', 'hours': '8:00 AM to...",", {'dayName': 'Sunday', 'hours': '8:00 AM to 1...",", {'dayName': 'Monday', 'hours': '8:00 AM to 1...",]
4,"[{'dayName': 'Today', 'hours': '8:00 AM to 8:3...",", {'dayName': 'Tomorrow', 'hours': '8:00 AM to...",", {'dayName': 'Thursday', 'hours': '8:00 AM to...",", {'dayName': 'Friday', 'hours': '8:00 AM to 8...",", {'dayName': 'Saturday', 'hours': '8:00 AM to...",", {'dayName': 'Sunday', 'hours': '9:00 AM to 8...",", {'dayName': 'Monday', 'hours': '8:00 AM to 8...",]
...,...,...,...,...,...,...,...,...
28284,"[{'dayName': 'Today', 'hours': '7:30 AM to 8:3...",", {'dayName': 'Tomorrow', 'hours': '7:30 AM to...",", {'dayName': 'Thursday', 'hours': '7:30 AM to...",", {'dayName': 'Friday', 'hours': '7:30 AM to 4...",", {'dayName': 'Saturday', 'hours': '10:00 AM t...",", {'dayName': 'Sunday', 'hours': '1:00 PM to 8...",", {'dayName': 'Monday', 'hours': '7:30 AM to 8...",]
28285,"[{'dayName': 'Today', 'hours': '5:30 AM to 9:0...",", {'dayName': 'Tomorrow', 'hours': '5:30 AM to...",", {'dayName': 'Thursday', 'hours': '5:30 AM to...",", {'dayName': 'Friday', 'hours': '5:30 AM to 9...",", {'dayName': 'Saturday', 'hours': '5:30 AM to...",", {'dayName': 'Sunday', 'hours': '5:30 AM to 9...",", {'dayName': 'Monday', 'hours': '5:30 AM to 9...",]
28286,"[{'dayName': 'Today', 'hours': '6:00 AM to 8:0...",", {'dayName': 'Tomorrow', 'hours': '6:00 AM to...",", {'dayName': 'Thursday', 'hours': '6:00 AM to...",", {'dayName': 'Friday', 'hours': '6:00 AM to 8...",", {'dayName': 'Saturday', 'hours': '6:00 AM to...",", {'dayName': 'Sunday', 'hours': '6:00 AM to 8...",", {'dayName': 'Monday', 'hours': '6:00 AM to 8...",]
28287,"[{'dayName': 'Today', 'hours': '6:00 AM to 9:0...",", {'dayName': 'Tomorrow', 'hours': '6:00 AM to...",", {'dayName': 'Thursday', 'hours': '6:00 AM to...",", {'dayName': 'Friday', 'hours': '6:00 AM to 9...",", {'dayName': 'Saturday', 'hours': '6:00 AM to...",", {'dayName': 'Sunday', 'hours': '6:00 AM to 9...",", {'dayName': 'Monday', 'hours': '6:00 AM to 9...",]
28288,"[{'dayName': 'Today', 'hours': '5:30 AM to 10:...",", {'dayName': 'Tomorrow', 'hours': '5:30 AM to...",", {'dayName': 'Thursday', 'hours': '5:30 AM to...",", {'dayName': 'Friday', 'hours': '5:30 AM to 1...",", {'dayName': 'Saturday', 'hours': '5:30 AM to...",", {'dayName': 'Sunday', 'hours': '5:30 AM to 1...",", {'dayName': 'Monday', 'hours': '5:30 AM to 1...",]

naming them each weekday

In [20]:
df[['Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday', 'Monday', ']']]= df['schedule'].str.split('}', expand=True)

In [21]:
df.drop(columns='schedule', inplace=True)

df.drop(columns=']', inplace=True)

In [22]:
def weekday():
    list=["Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday", "Monday"]
    for i in list:
        print(i+" = df[['"+i+"']].copy()")

In [23]:
weekday()

Tuesday = df[['Tuesday']].copy()
Wednesday = df[['Wednesday']].copy()
Thursday = df[['Thursday']].copy()
Friday = df[['Friday']].copy()
Saturday = df[['Saturday']].copy()
Sunday = df[['Sunday']].copy()
Monday = df[['Monday']].copy()

In [24]:
Tuesday = df[['Tuesday']].copy()
Wednesday = df[['Wednesday']].copy()
Thursday = df[['Thursday']].copy()
Friday = df[['Friday']].copy()
Saturday = df[['Saturday']].copy()
Sunday = df[['Sunday']].copy()
Monday = df[['Monday']].copy()

Splittin the each day into it's four features

In [25]:
Wednesday['Wednesday'].str.split(',', expand=True)
Thursday['Thursday'].str.split(',', expand=True)
Friday['Friday'].str.split(',', expand=True)
Saturday['Saturday'].str.split(',', expand=True)
Sunday['Sunday'].str.split(',', expand=True)
Monday['Monday'].str.split(',', expand=True)

,0,1,2,3,4
0,,{'dayName': 'Monday','hours': '8:30 AM to 10:30 PM','open': True,'holiday': ''
1,,{'dayName': 'Monday','hours': '7:30 AM to 10:00 PM','open': True,'holiday': ''
2,,{'dayName': 'Monday','hours': '8:00 AM to 10:00 PM','open': True,'holiday': ''
3,,{'dayName': 'Monday','hours': '8:00 AM to 10:00 PM','open': True,'holiday': ''
4,,{'dayName': 'Monday','hours': '8:00 AM to 8:30 PM','open': True,'holiday': ''
...,...,...,...,...,...
28284,,{'dayName': 'Monday','hours': '7:30 AM to 8:30 PM','open': True,'holiday': ''
28285,,{'dayName': 'Monday','hours': '5:30 AM to 9:00 PM','open': True,'holiday': ''
28286,,{'dayName': 'Monday','hours': '6:00 AM to 8:00 PM','open': True,'holiday': ''
28287,,{'dayName': 'Monday','hours': '6:00 AM to 9:00 PM','open': True,'holiday': ''
28288,,{'dayName': 'Monday','hours': '5:30 AM to 10:00 PM','open': True,'holiday': ''

dROPPING UNWANTED COLUMNS WHICH ARE REPEATED

In [26]:
Tuesday[['dayName', 'hours', 'open', 'holiday']]= Tuesday['Tuesday'].str.split(',', expand=True)
Tuesday

,Tuesday,dayName,hours,open,holiday
0,"[{'dayName': 'Today', 'hours': '8:30 AM to 10:...",[{'dayName': 'Today','hours': '8:30 AM to 10:30 PM','open': True,'holiday': ''
1,"[{'dayName': 'Today', 'hours': '7:30 AM to 10:...",[{'dayName': 'Today','hours': '7:30 AM to 10:00 PM','open': True,'holiday': ''
2,"[{'dayName': 'Today', 'hours': '8:00 AM to 10:...",[{'dayName': 'Today','hours': '8:00 AM to 10:00 PM','open': True,'holiday': ''
3,"[{'dayName': 'Today', 'hours': '8:00 AM to 10:...",[{'dayName': 'Today','hours': '8:00 AM to 10:00 PM','open': True,'holiday': ''
4,"[{'dayName': 'Today', 'hours': '8:00 AM to 8:3...",[{'dayName': 'Today','hours': '8:00 AM to 8:30 PM','open': True,'holiday': ''
...,...,...,...,...,...
28284,"[{'dayName': 'Today', 'hours': '7:30 AM to 8:3...",[{'dayName': 'Today','hours': '7:30 AM to 8:30 PM','open': True,'holiday': ''
28285,"[{'dayName': 'Today', 'hours': '5:30 AM to 9:0...",[{'dayName': 'Today','hours': '5:30 AM to 9:00 PM','open': True,'holiday': ''
28286,"[{'dayName': 'Today', 'hours': '6:00 AM to 8:0...",[{'dayName': 'Today','hours': '6:00 AM to 8:00 PM','open': True,'holiday': ''
28287,"[{'dayName': 'Today', 'hours': '6:00 AM to 9:0...",[{'dayName': 'Today','hours': '6:00 AM to 9:00 PM','open': True,'holiday': ''
28288,"[{'dayName': 'Today', 'hours': '5:30 AM to 10:...",[{'dayName': 'Today','hours': '5:30 AM to 10:00 PM','open': True,'holiday': ''

In [27]:
Tuesday.drop(columns=['Tuesday', 'dayName'],inplace=True)

In [28]:
Tuesday["holiday"]

0         'holiday': ''
1         'holiday': ''
2         'holiday': ''
3         'holiday': ''
4         'holiday': ''
              ...
28284     'holiday': ''
28285     'holiday': ''
28286     'holiday': ''
28287     'holiday': ''
28288     'holiday': ''
Name: holiday, Length: 28288, dtype: object

In [29]:
df

,storeNumber,countryCode,ownershipTypeCode,streetAddressLine1,city,countrySubdivisionCode,currentTimeOffset,windowsTimeZoneId,olsonTimeZoneId,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,Monday
0,34638-85784,HK,LS,"Level 2, Plaza Hollywood, Diamond Hill,",Hong Kong,91,480,China Standard Time,GMT+08:00 Asia/Hong_Kong,"[{'dayName': 'Today', 'hours': '8:30 AM to 10:...",", {'dayName': 'Tomorrow', 'hours': '8:30 AM to...",", {'dayName': 'Thursday', 'hours': '8:30 AM to...",", {'dayName': 'Friday', 'hours': '8:30 AM to 1...",", {'dayName': 'Saturday', 'hours': '8:30 AM to...",", {'dayName': 'Sunday', 'hours': '8:30 AM to 1...",", {'dayName': 'Monday', 'hours': '8:30 AM to 1..."
1,32141-267986,HK,LS,"Shop No. G3B, Ground Floor, Wong Tai Sin",Hong Kong,91,480,China Standard Time,GMT+08:00 Asia/Hong_Kong,"[{'dayName': 'Today', 'hours': '7:30 AM to 10:...",", {'dayName': 'Tomorrow', 'hours': '7:30 AM to...",", {'dayName': 'Thursday', 'hours': '7:30 AM to...",", {'dayName': 'Friday', 'hours': '7:30 AM to 1...",", {'dayName': 'Saturday', 'hours': '7:30 AM to...",", {'dayName': 'Sunday', 'hours': '8:00 AM to 1...",", {'dayName': 'Monday', 'hours': '7:30 AM to 1..."
2,15035-155445,HK,LS,"Shop No. G01, Ground Floor, Mikiki 638",Kowloon,91,480,China Standard Time,GMT+08:00 Asia/Hong_Kong,"[{'dayName': 'Today', 'hours': '8:00 AM to 10:...",", {'dayName': 'Tomorrow', 'hours': '8:00 AM to...",", {'dayName': 'Thursday', 'hours': '8:00 AM to...",", {'dayName': 'Friday', 'hours': '8:00 AM to 1...",", {'dayName': 'Saturday', 'hours': '8:00 AM to...",", {'dayName': 'Sunday', 'hours': '9:00 AM to 1...",", {'dayName': 'Monday', 'hours': '8:00 AM to 1..."
3,49646-268445,HK,LS,九龍九龍城廣場 地下低層LG10舖,香港,91,480,China Standard Time,GMT+08:00 Asia/Hong_Kong,"[{'dayName': 'Today', 'hours': '8:00 AM to 10:...",", {'dayName': 'Tomorrow', 'hours': '8:00 AM to...",", {'dayName': 'Thursday', 'hours': '8:00 AM to...",", {'dayName': 'Friday', 'hours': '8:00 AM to 1...",", {'dayName': 'Saturday', 'hours': '8:00 AM to...",", {'dayName': 'Sunday', 'hours': '8:00 AM to 1...",", {'dayName': 'Monday', 'hours': '8:00 AM to 1..."
4,31944-224544,HK,LS,"Shop 48, G/F,HK Int'l Trade & Exhibit",Hong Kong,91,480,China Standard Time,GMT+08:00 Asia/Hong_Kong,"[{'dayName': 'Today', 'hours': '8:00 AM to 8:3...",", {'dayName': 'Tomorrow', 'hours': '8:00 AM to...",", {'dayName': 'Thursday', 'hours': '8:00 AM to...",", {'dayName': 'Friday', 'hours': '8:00 AM to 8...",", {'dayName': 'Saturday', 'hours': '8:00 AM to...",", {'dayName': 'Sunday', 'hours': '9:00 AM to 8...",", {'dayName': 'Monday', 'hours': '8:00 AM to 8..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28284,75260-79935,US,LS,"118 College Drive, Cook Library",Hattiesburg,MS,-300,Central Standard Time,GMT-06:00 America/Chicago,"[{'dayName': 'Today', 'hours': '7:30 AM to 8:3...",", {'dayName': 'Tomorrow', 'hours': '7:30 AM to...",", {'dayName': 'Thursday', 'hours': '7:30 AM to...",", {'dayName': 'Friday', 'hours': '7:30 AM to 4...",", {'dayName': 'Saturday', 'hours': '10:00 AM t...",", {'dayName': 'Sunday', 'hours': '1:00 PM to 8...",", {'dayName': 'Monday', 'hours': '7:30 AM to 8..."
28285,61780-293957,US,CO,1600 N Mississippi Ave,Ada,OK,-300,Central Standard Time,GMT-06:00 America/Chicago,"[{'dayName': 'Today', 'hours': '5:30 AM to 9:0...",", {'dayName': 'Tomorrow', 'hours': '5:30 AM to...",", {'dayName': 'Thursday', 'hours': '5:30 AM to...",", {'dayName': 'Friday', 'hours': '5:30 AM to 9...",", {'dayName': 'Saturday', 'hours': '5:30 AM to...",", {'dayName': 'Sunday', 'hours': '5:30 AM to 9...",", {'dayName': 'Monday', 'hours': '5:30 AM to 9..."
28286,62119-295832,US,CO,"1908 Memorial Dr.,",Waycross,GA,-240,Eastern Standard Time,GMT-05:00 America/New_York,"[{'dayName': 'Today', 'hours': '6:00 AM to 8:0...",", {'dayName': 'Tomorrow', 'hours': '6:00 AM to...",", {'dayName': 'Thursday', 'hours': '6:00 AM to...",", {'dayName': 'Friday', 'hours': '6:00 AM to 8...",", {'dayName': 'Saturday', 'hours': '6:00 AM to...",", {'dayName': 'Sunday', 'hours': '6:00 AM to 8...",", {'dayName': 'Monday', 'hours': '6:00 AM to 8..."
28287,79384-104222,US,LS,1606 Memorial Dr.,Waycross,GA,-240,Eastern Standard Time,GMT-05:00 America/New_York,"[{'dayName': 'Today', 'hours': '6:00 AM to 9:0...",", {'dayName': 'Tomorrow', 'hours': '6:00 AM to...",", {'dayName': 'Thursday', 'hours': '6:00 AM to...",", {'dayName': 'Friday', 'hours': '6:00 AM to 9...",", {'dayName': 'Saturday', 'hours': '6:00 AM to...",", {'dayName': 'Sunday', 'hours': '6:00 AM to 9...",", {'dayName': 'Monday', 'hours': '6:00 AM to 9..."
28288,60583-293077,US,CO,181 Westfield St,Hartsville,SC,-240,Eastern Standard Time,GMT-05:00 America/New_York,"[{'dayName': 'Today', 'hours': '5:30 AM to 10:...",", {'dayName': 'Tomorrow', 'hours': '5:30 AM to...",", {'dayName': 'Thursday', 'hours': '5:30 AM to...",", {'dayName': 'Friday', 'hours': '5:30 AM to 1...",", {'dayName': 'Saturday', 'hours': '5:30 AM to...",", {'dayName': 'Sunday', 'hours': '5:30 AM to 1...",", {'dayName': 'Monday', 'hours': '5:30 AM to 1..."

Function to make the task easier

for each of these numbered sections have a big title with only 1 hashtag, and then write a markdown before every section of code you write

Things to do:
1- find a way to split the hours column into Open Time and Close Time then delete the unplit column called hours
2- divide the open column into just the part that is either True of False then delete the open column
3- do the same thing for holiday (remeber only Thrsdaya and Wednesday have a holiday so you can replace all the values in the other Day's holiday column to No holiday)
4- create a function to do all this for you for every day
5- bring these 7 days tables back into our original df table
6- check back with SHAZAB once finished  part 1 of data cleaning

In [30]:
def weekday():
    list=["Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday", "Monday"]
    for i in list:
        print(i)

In [31]:
weekday()

Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday
Monday

In [32]:
Tuesday.rename(columns={'hours':'Hours', 'open':'Open','holiday':'Holiday'}, inplace=True)

Tuesday

                                 Hours           Open         Holiday
0       'hours': '8:30 AM to 10:30 PM'   'open': True   'holiday': ''
1       'hours': '7:30 AM to 10:00 PM'   'open': True   'holiday': ''
2       'hours': '8:00 AM to 10:00 PM'   'open': True   'holiday': ''
3       'hours': '8:00 AM to 10:00 PM'   'open': True   'holiday': ''
4        'hours': '8:00 AM to 8:30 PM'   'open': True   'holiday': ''
...                                ...            ...             ...
28284    'hours': '7:30 AM to 8:30 PM'   'open': True   'holiday': ''
28285    'hours': '5:30 AM to 9:00 PM'   'open': True   'holiday': ''
28286    'hours': '6:00 AM to 8:00 PM'   'open': True   'holiday': ''
28287    'hours': '6:00 AM to 9:00 PM'   'open': True   'holiday': ''
28288   'hours': '5:30 AM to 10:00 PM'   'open': True   'holiday': ''

[28288 rows x 3 columns]

In [33]:
print(Tuesday['Hours'].unique())

[" 'hours': '8:30 AM to 10:30 PM'" " 'hours': '7:30 AM to 10:00 PM'"
 " 'hours': '8:00 AM to 10:00 PM'" " 'hours': '8:00 AM to 8:30 PM'"
 " 'hours': '8:00 AM to 9:00 PM'" " 'hours': '7:00 AM to 10:30 PM'"
 " 'hours': '7:30 AM to 7:00 PM'" " 'hours': '8:30 AM to 9:00 PM'"
 " 'hours': '7:00 AM to 10:00 PM'" " 'hours': '7:30 AM to 8:00 PM'"
 " 'hours': '7:30 AM to 10:30 PM'" nan " 'hours': '7:00 AM to 8:00 PM'"
 " 'hours': '8:00 AM to 12:00 AM'" " 'hours': '8:30 AM to 10:00 PM'"
 " 'hours': '8:00 AM to 11:30 PM'" " 'hours': '7:30 AM to 11:00 PM'"
 " 'hours': '7:00 AM to 11:30 PM'" " 'hours': '7:30 AM to 11:30 PM'"
 " 'hours': '7:00 AM to 9:30 PM'" " 'hours': '6:30 AM to 8:30 PM'"
 " 'hours': '6:30 AM to 10:00 PM'" " 'hours': '6:30 AM to 8:00 PM'"
 " 'hours': '7:00 AM to 8:30 PM'" " 'hours': '7:00 AM to 9:00 PM'"
 " 'hours': '7:30 AM to 8:30 PM'" " 'hours': '7:30 AM to 9:00 PM'"
 " 'hours': '9:00 AM to 10:30 PM'" " 'hours': '8:00 AM to 10:30 PM'"
 " 'hours': '6:30 AM to 9:00 PM'" " 'hours': '9:30 AM to 10:00 PM'"
 " 'hours': '7:00 AM to 7:30 PM'" " 'hours': '7:00 AM to 11:00 PM'"
 " 'hours': '8:00 AM to 11:00 PM'" " 'hours': '12:00 AM to 12:00 AM'"
 " 'hours': '7:30 AM to 12:00 AM'" " 'hours': '6:30 AM to 12:00 AM'"
 " 'hours': '8:00 AM to 6:00 PM'" " 'hours': '7:00 AM to 12:00 AM'"
 " 'hours': '9:00 AM to 12:00 AM'" " 'hours': '8:30 AM to 12:00 AM'"
 " 'hours': '7:00 AM to 7:00 PM'" " 'hours': '7:00 AM to 6:00 PM'"
 " 'hours': '6:00 AM to 11:00 PM'" " 'hours': '6:30 AM to 11:00 PM'"
 " 'hours': '6:00 AM to 12:00 AM'" " 'hours': '6:30 AM to 11:30 PM'"
 " 'hours': '8:00 AM to 1:00 AM'" " 'hours': '6:30 AM to 1:00 AM'"
 " 'hours': '7:00 AM to 6:30 PM'" " 'hours': '5:45 AM to 1:00 AM'"
 " 'hours': '6:00 AM to 12:30 AM'" " 'hours': '6:00 AM to 2:00 AM'"
 " 'hours': '6:00 AM to 1:00 AM'" " 'hours': '6:30 AM to 5:00 PM'"
 " 'hours': '7:30 AM to 6:30 PM'" " 'hours': '7:30 AM to 1:00 AM'"
 " 'hours': '6:30 AM to 5:30 PM'" " 'hours': '6:30 AM to 6:00 PM'"
 " 'hours': '7:00 AM to 1:00 AM'" " 'hours': '6:30 AM to 10:30 PM'"
 " 'hours': '8:30 AM to 7:00 PM'" " 'hours': '9:30 AM to 8:30 PM'"
 " 'hours': '7:30 AM to 7:15 PM'" " 'hours': '8:30 AM to 11:30 PM'"
 " 'hours': '5:30 AM to 8:00 PM'" " 'hours': '10:00 AM to 10:00 PM'"
 " 'hours': '8:30 AM to 11:00 PM'" " 'hours': '10:00 AM to 11:00 PM'"
 " 'hours': '6:30 AM to 9:30 PM'" " 'hours': '10:00 AM to 12:00 AM'"
 " 'hours': '8:00 AM to 9:30 PM'" " 'hours': '10:00 AM to 9:00 PM'"
 " 'hours': '1:00 AM to 11:00 PM'" " 'hours': '9:00 AM to 11:00 PM'"
 " 'hours': '9:00 AM to 10:00 PM'" " 'hours': '6:00 AM to 9:00 PM'"
 " 'hours': '8:00 AM to 8:00 PM'" " 'hours': '6:15 AM to 6:30 PM'"
 " 'hours': '8:00 AM to 7:30 PM'" " 'hours': '5:00 AM to 8:00 PM'"
 " 'hours': '9:00 AM to 9:00 PM'" " 'hours': '7:30 AM to 9:30 PM'"
 " 'hours': '5:00 AM to 9:00 PM'" " 'hours': '3:30 AM to 9:00 PM'"
 " 'hours': '8:00 AM to 5:00 PM'" " 'hours': '7:00 AM to 5:00 PM'"
 " 'hours': '10:30 AM to 6:00 PM'" " 'hours': '7:30 AM to 4:00 PM'"
 " 'hours': '6:30 AM to 7:00 PM'" " 'hours': '7:30 AM to 3:00 PM'"
 " 'hours': '8:00 AM to 4:00 PM'" " 'hours': '8:00 AM to 7:00 PM'"
 " 'hours': '7:30 AM to 2:30 PM'" " 'hours': '11:00 AM to 6:00 PM'"
 " 'hours': '6:00 AM to 6:00 PM'" " 'hours': '8:00 AM to 5:30 PM'"
 " 'hours': '9:00 AM to 6:30 PM'" " 'hours': '8:30 AM to 6:30 PM'"
 " 'hours': '8:00 AM to 4:30 PM'" " 'hours': '7:00 AM to 4:30 PM'"
 " 'hours': '6:30 AM to 1:30 AM'" " 'hours': '10:00 AM to 6:30 PM'"
 " 'hours': '10:00 AM to 9:30 PM'" " 'hours': '6:30 AM to 12:30 AM'"
 " 'hours': '5:30 AM to 6:00 PM'" " 'hours': '6:00 AM to 7:00 PM'"
 " 'hours': '5:30 AM to 7:30 PM'" " 'hours': '5:30 AM to 7:00 PM'"
 " 'hours': '5:00 AM to 7:00 PM'" " 'hours': '5:30 AM to 9:00 PM'"
 " 'hours': '6:30 AM to 4:00 PM'" " 'hours': '6:00 AM to 8:00 PM'"
 " 'hours': '6:00 AM to 7:30 PM'" " 'hours': '5:00 AM to 6:00 PM'"
 " 'hours': '6:00 AM to 2:00 PM'" " 'hours': '5:30 AM to 10:00 PM'"
 " 'hours': '7:30 AM to 7:30 PM'" " 'hours': '5:00 AM to 10:00 PM'"
 " 'hours': '5:00 AM to 7:30 PM'" " 'hours': '5:00 AM to 6:30 PM'"
 " 'hours': '5:30 AM to 8:30 PM'" " 'hours': '5:00 AM to 8:30 PM'"
 " 'hours': '6:00 AM to 6:30 PM'" " 'hours': '6:30 AM to 4:30 PM'"
 " 'hours': '6:00 AM to 4:30 PM'" " 'hours': '6:00 AM to 8:30 PM'"
 " 'hours': '5:30 AM to 6:30 PM'" " 'hours': '9:00 AM to 8:00 PM'"
 " 'hours': '7:30 AM to 5:00 PM'" " 'hours': '6:00 AM to 10:00 PM'"
 " 'hours': '6:00 AM to 9:30 PM'" " 'hours': '9:30 AM to 9:00 PM'"
 " 'hours': '9:00 AM to 8:30 PM'" " 'hours': '5:30 AM to 9:30 PM'"
 " 'hours': '7:30 AM to 4:30 PM'" " 'hours': '6:00 AM to 1:00 PM'"
 " 'hours': '8:00 AM to 3:00 PM'" " 'hours': '6:30 AM to 6:30 PM'"
 " 'hours': '8:30 AM to 8:30 PM'" " 'hours': '7:00 AM to 2:00 PM'"
 " 'hours': '7:00 AM to 4:00 PM'" " 'hours': '6:00 AM to 5:00 PM'"
 " 'hours': '5:30 AM to 4:30 PM'" " 'hours': '6:30 AM to 3:00 PM'"
 " 'hours': '6:00 AM to 5:30 PM'" " 'hours': '7:30 AM to 6:00 PM'"
 " 'hours': '5:00 AM to 4:00 PM'" " 'hours': '9:00 AM to 7:00 PM'"
 " 'hours': '5:30 AM to 5:00 PM'" " 'hours': '5:30 AM to 10:30 PM'"
 " 'hours': 'Closed'" " 'hours': '5:00 AM to 5:00 PM'"
 " 'hours': '5:00 AM to 9:30 PM'" " 'hours': '6:00 AM to 3:00 PM'"
 " 'hours': '6:30 AM to 7:30 PM'" " 'hours': '10:00 AM to 6:00 PM'"
 " 'hours': '4:30 AM to 9:00 PM'" " 'hours': '4:30 AM to 10:00 PM'"
 " 'hours': '4:30 AM to 9:30 PM'" " 'hours': '6:00 AM to 4:00 PM'"
 " 'hours': '5:00 AM to 10:30 PM'" " 'hours': '5:00 AM to 11:00 PM'"
 " 'hours': '8:30 AM to 4:00 PM'" " 'hours': '4:30 AM to 8:00 PM'"
 " 'hours': '4:30 AM to 7:00 PM'" " 'hours': '5:30 AM to 11:00 PM'"
 " 'hours': '7:00 AM to 4:00 AM'" " 'hours': '9:30 AM to 8:00 PM'"
 " 'hours': '10:00 AM to 8:00 PM'" " 'hours': '4:30 AM to 11:00 PM'"
 " 'hours': '4:00 AM to 9:00 PM'" " 'hours': '8:00 AM to 1:30 PM'"
 " 'hours': '8:30 AM to 8:00 PM'" " 'hours': '7:30 AM to 12:00 PM'"
 " 'hours': '8:30 AM to 3:30 PM'" " 'hours': '9:30 AM to 7:30 PM'"
 " 'hours': '8:00 AM to 2:00 PM'" " 'hours': '6:30 AM to 2:30 PM'"
 " 'hours': '7:30 AM to 1:30 PM'" " 'hours': '9:30 AM to 4:30 PM'"
 " 'hours': '6:00 AM to 11:00 AM'" " 'hours': '9:00 AM to 7:30 PM'"
 " 'hours': '6:00 AM to 10:30 PM'" " 'hours': '9:00 AM to 6:00 PM'"
 " 'hours': '4:30 AM to 8:30 PM'" " 'hours': '4:30 AM to 7:30 PM'"
 " 'hours': '4:30 AM to 5:00 PM'" " 'hours': '7:00 AM to 3:00 PM'"
 " 'hours': '10:00 AM to 7:00 PM'" " 'hours': '11:00 AM to 8:00 PM'"
 " 'hours': '7:00 AM to 11:00 AM'" " 'hours': '12:00 PM to 9:00 PM'"
 " 'hours': '5:30 AM to 4:00 PM'" " 'hours': '11:00 AM to 7:00 PM'"
 " 'hours': '4:30 AM to 10:30 PM'" " 'hours': '4:30 AM to 12:00 AM'"
 " 'hours': '5:00 AM to 11:30 PM'" " 'hours': '4:00 AM to 10:00 PM'"
 " 'hours': '4:15 AM to 10:00 PM'" " 'hours': '3:30 AM to 1:00 AM'"
 " 'hours': '3:30 AM to 10:00 PM'" " 'hours': '4:00 AM to 11:00 PM'"
 " 'hours': '4:30 AM to 11:30 PM'" " 'hours': '10:00 AM to 5:00 PM'"
 " 'hours': '4:45 AM to 9:00 PM'" " 'hours': '6:00 AM to 12:00 PM'"
 " 'hours': '4:30 AM to 6:00 PM'" " 'hours': '4:00 AM to 7:00 PM'"
 " 'hours': '5:00 AM to 5:30 PM'" " 'hours': '4:00 AM to 8:00 PM'"
 " 'hours': '5:00 AM to 4:30 PM'" " 'hours': '6:30 AM to 1:00 PM'"
 " 'hours': '4:15 AM to 11:00 PM'" " 'hours': '4:00 AM to 9:30 PM'"
 " 'hours': '4:15 AM to 9:00 PM'" " 'hours': '6:00 AM to 2:30 PM'"
 " 'hours': '7:00 AM to 3:30 PM'" " 'hours': '7:45 AM to 9:00 PM'"
 " 'hours': '5:00 AM to 12:00 PM'" " 'hours': '9:30 AM to 7:00 PM'"
 " 'hours': '3:30 AM to 11:00 PM'" " 'hours': '5:30 AM to 5:30 PM'"
 " 'hours': '10:30 AM to 7:00 PM'" " 'hours': '7:30 AM to 3:30 PM'"
 " 'hours': '6:00 AM to 11:30 PM'" " 'hours': '4:30 AM to 6:30 PM'"
 " 'hours': '3:30 AM to 7:30 PM'" " 'hours': '4:00 AM to 12:00 AM'"
 " 'hours': '5:30 AM to 2:00 PM'" " 'hours': '11:00 AM to 9:00 PM'"
 " 'hours': '3:30 AM to 8:30 PM'" " 'hours': '5:00 AM to 3:30 PM'"
 " 'hours': '10:00 AM to 8:30 PM'" " 'hours': '5:00 AM to 2:00 PM'"
 " 'hours': '4:00 AM to 4:00 PM'" " 'hours': '5:00 AM to 3:00 PM'"
 " 'hours': '4:30 AM to 4:00 PM'" " 'hours': '5:30 AM to 3:00 PM'"
 " 'hours': '3:00 AM to 8:00 PM'" " 'hours': '3:30 AM to 7:00 PM'"
 " 'hours': '6:30 AM to 2:00 PM'" " 'hours': '5:00 AM to 1:00 PM'"
 " 'hours': '12:30 PM to 5:00 PM'" " 'hours': '5:00 AM to 2:30 PM'"
 " 'hours': '5:30 AM to 1:00 PM'" " 'hours': '12:00 PM to 7:30 PM'"
 " 'hours': '7:00 AM to 11:30 AM'" " 'hours': '11:00 AM to 6:30 PM'"
 " 'hours': '7:00 AM to 2:30 PM'" " 'hours': '4:30 AM to 12:30 PM'"
 " 'hours': '5:30 AM to 12:30 PM'" " 'hours': '4:30 AM to 3:30 PM'"
 " 'hours': '3:30 AM to 12:00 AM'" " 'hours': '7:00 AM to 1:00 PM'"
 " 'hours': '4:30 AM to 5:30 PM'" " 'hours': '9:00 AM to 4:00 PM'"
 " 'hours': '4:30 AM to 1:00 AM'" " 'hours': '5:00 AM to 12:00 AM'"
 " 'hours': '5:30 AM to 1:30 PM'" " 'hours': '5:15 AM to 9:30 PM'"
 " 'hours': '4:00 AM to 8:30 PM'" " 'hours': '4:00 AM to 5:30 PM'"
 " 'hours': '4:00 AM to 10:30 PM'" " 'hours': '3:00 AM to 2:00 AM'"
 " 'hours': '8:30 AM to 9:30 PM'" " 'hours': '4:00 AM to 6:30 PM'"
 " 'hours': '7:00 AM to 1:30 PM'" " 'hours': '6:00 AM to 1:30 PM'"
 " 'hours': '4:00 AM to 7:30 PM'" " 'hours': '4:00 AM to 6:00 PM'"
 " 'hours': '4:00 AM to 11:30 PM'" " 'hours': '8:30 AM to 6:00 PM'"
 " 'hours': '6:30 AM to 11:00 AM'" " 'hours': '2:00 PM to 7:00 PM'"
 " 'hours': '7:00 AM to 10:00 AM'" " 'hours': '12:30 PM to 7:00 PM'"
 " 'hours': '11:00 AM to 5:00 PM'" " 'hours': '5:45 AM to 7:00 PM'"
 " 'hours': '9:00 AM to 9:30 PM'" " 'hours': '1:30 PM to 7:00 PM'"
 " 'hours': '6:30 AM to 11:30 AM'" " 'hours': '10:30 AM to 8:00 PM'"
 " 'hours': '7:30 AM to 2:00 PM'" " 'hours': '5:00 AM to 11:00 AM'"
 " 'hours': '7:00 AM to 5:30 PM'" " 'hours': '4:30 AM to 4:30 PM'"
 " 'hours': '5:30 AM to 11:30 AM'" " 'hours': '4:45 AM to 12:45 PM'"
 " 'hours': '6:30 AM to 3:30 PM'" " 'hours': '3:30 AM to 5:00 PM'"
 " 'hours': '4:30 AM to 3:00 PM'" " 'hours': '6:00 AM to 3:30 PM'"
 " 'hours': '5:00 AM to 12:30 PM'" " 'hours': '6:00 AM to 3:45 PM'"
 " 'hours': '9:00 AM to 2:00 PM'" " 'hours': '11:00 AM to 4:00 PM'"
 " 'hours': '4:30 AM to 11:00 AM'" " 'hours': '3:30 AM to 8:00 PM'"
 " 'hours': '3:30 AM to 4:00 PM'" " 'hours': '4:30 AM to 2:00 PM'"
 " 'hours': '5:30 AM to 11:15 PM'" " 'hours': '4:45 AM to 8:00 PM'"
 " 'hours': '11:00 AM to 10:00 PM'" " 'hours': '11:00 AM to 7:30 PM'"
 " 'hours': '8:00 AM to 1:00 PM'" " 'hours': '1:00 PM to 8:00 PM'"
 " 'hours': '7:00 AM to 12:00 PM'" " 'hours': '8:30 AM to 2:30 PM'"
 " 'hours': '1:30 PM to 9:00 PM'" " 'hours': '3:30 AM to 12:00 PM'"
 " 'hours': '5:30 AM to 2:30 PM'" " 'hours': '5:30 AM to 9:30 AM'"
 " 'hours': '9:00 AM to 5:00 PM'" " 'hours': '4:30 AM to 1:00 PM'"
 " 'hours': '10:30 AM to 4:00 PM'" " 'hours': '10:00 AM to 7:30 PM'"
 " 'hours': '8:00 AM to 2:30 PM'" " 'hours': '7:30 AM to 5:30 PM'"
 " 'hours': '5:30 AM to 12:00 PM'" " 'hours': '7:30 AM to 1:00 PM'"
 " 'hours': '6:30 AM to 12:00 PM'" " 'hours': '3:30 AM to 9:30 PM'"
 " 'hours': '10:30 AM to 5:00 PM'" " 'hours': '8:00 AM to 3:30 PM'"
 " 'hours': '12:00 AM to 12:15 AM'" " 'hours': '8:00 AM to 11:00 AM'"
 " 'hours': '4:00 AM to 5:00 PM'" " 'hours': '5:30 AM to 3:30 PM'"
 " 'hours': '6:00 AM to 5:30 AM'" " 'hours': '4:30 AM to 12:00 PM'"
 " 'hours': '9:00 AM to 5:30 PM'" " 'hours': '4:45 AM to 4:45 PM'"
 " 'hours': '8:30 AM to 4:30 PM'" " 'hours': '4:00 AM to 4:15 AM'"
 " 'hours': '6:45 AM to 6:00 PM'" " 'hours': '4:30 AM to 12:30 AM'"
 " 'hours': '6:45 AM to 9:30 PM'" " 'hours': '6:45 AM to 12:00 AM'"
 " 'hours': '3:30 AM to 6:00 PM'" " 'hours': '4:45 AM to 6:00 PM'"
 " 'hours': '7:45 AM to 10:00 PM'" " 'hours': '9:30 AM to 10:30 PM'"
 " 'hours': '9:00 AM to 4:45 PM'" " 'hours': '7:45 AM to 12:00 AM'"
 " 'hours': '8:15 AM to 10:00 PM'" " 'hours': '6:45 AM to 10:30 PM'"
 " 'hours': '12:00 PM to 8:30 PM'" " 'hours': '10:00 AM to 10:30 PM'"
 " 'hours': '6:30 AM to 11:45 PM'" " 'hours': '6:45 AM to 8:00 PM'"
 " 'hours': '10:15 AM to 10:00 PM'" " 'hours': '12:00 PM to 10:00 PM'"
 " 'hours': '8:45 AM to 6:00 PM'" " 'hours': '8:15 AM to 7:30 PM'"
 " 'hours': '8:15 AM to 6:00 PM'" " 'hours': '7:15 AM to 11:00 PM'"
 " 'hours': '8:30 AM to 10:45 PM'" " 'hours': '7:30 AM to 10:45 PM'"
 " 'hours': '9:00 AM to 11:45 PM'" " 'hours': '9:15 AM to 10:00 PM'"
 " 'hours': '8:00 AM to 11:45 PM'" " 'hours': '11:45 AM to 7:30 PM'"
 " 'hours': '12:00 PM to 8:00 PM'" " 'hours': '10:30 AM to 5:30 PM'"
 " 'hours': '8:45 AM to 10:30 PM'" " 'hours': '8:15 AM to 11:30 PM'"
 " 'hours': '8:15 AM to 8:30 PM'" " 'hours': '8:15 AM to 11:00 PM'"
 " 'hours': '8:30 AM to 11:45 PM'" " 'hours': '12:00 PM to 6:30 PM'"
 " 'hours': '7:15 AM to 5:00 PM'" " 'hours': '8:15 AM to 7:00 PM'"
 " 'hours': '7:15 AM to 4:30 PM'" " 'hours': '7:15 AM to 8:30 PM'"
 " 'hours': '7:45 AM to 11:30 PM'" " 'hours': '7:00 AM to 6:45 AM'"
 " 'hours': '10:00 AM to 11:30 PM'" " 'hours': '6:15 AM to 10:00 PM'"
 " 'hours': '7:45 AM to 11:00 PM'" " 'hours': '9:15 AM to 5:00 PM'"
 " 'hours': '9:30 AM to 12:00 AM'" " 'hours': '12:30 PM to 8:30 PM'"
 " 'hours': '8:00 AM to 6:30 PM'" " 'hours': '11:00 AM to 12:00 AM'"
 " 'hours': '12:00 PM to 7:45 PM'" " 'hours': '6:15 AM to 10:30 PM'"
 " 'hours': '9:30 AM to 9:30 PM'" " 'hours': '11:00 AM to 10:30 PM'"
 " 'hours': '10:30 AM to 4:30 PM'" " 'hours': '2:00 AM to 2:15 AM'"
 " 'hours': '8:00 AM to 12:00 PM'" " 'hours': '9:00 AM to 3:00 PM'"
 " 'hours': '6:45 AM to 7:00 PM'" " 'hours': '6:00 AM to 12:30 PM'"
 " 'hours': '5:45 AM to 6:30 PM'" " 'hours': '5:15 AM to 6:30 PM'"
 " 'hours': '5:45 AM to 7:30 PM'" " 'hours': '10:30 AM to 11:00 PM'"
 " 'hours': '10:30 AM to 10:00 PM'" " 'hours': '11:00 AM to 9:30 PM'"
 " 'hours': '7:30 AM to 6:45 PM'" " 'hours': '8:30 AM to 7:45 PM'"
 " 'hours': '11:30 AM to 6:30 PM'" " 'hours': '8:00 AM to 7:15 PM'"
 " 'hours': '6:15 AM to 9:00 PM'" " 'hours': '6:45 AM to 5:30 PM'"
 " 'hours': '8:30 AM to 6:45 PM'" " 'hours': '8:15 AM to 5:00 PM'"
 " 'hours': '8:15 AM to 6:30 PM'" " 'hours': '5:15 AM to 10:00 PM'"
 " 'hours': '4:00 AM to 1:30 PM'" " 'hours': '10:30 AM to 9:30 PM'"
 " 'hours': '12:30 PM to 9:30 PM'" " 'hours': '2:00 PM to 9:30 PM'"
 " 'hours': '2:00 PM to 9:00 PM'" " 'hours': '7:15 AM to 7:00 PM'"
 " 'hours': '6:15 AM to 8:00 PM'" " 'hours': '11:15 AM to 9:00 PM'"
 " 'hours': '12:00 AM to 10:00 PM'" " 'hours': '9:30 AM to 11:30 PM'"
 " 'hours': '9:30 AM to 11:00 PM'" " 'hours': '9:00 AM to 11:30 PM'"
 " 'hours': '8:45 AM to 9:00 PM'" " 'hours': '8:30 AM to 5:30 PM'"
 " 'hours': '11:30 AM to 10:00 PM'" " 'hours': '10:00 AM to 5:30 PM'"
 " 'hours': '7:00 AM to 9:45 PM'" " 'hours': '7:00 AM to 10:15 PM'"
 " 'hours': '4:00 AM to 10:00 AM'" " 'hours': '6:15 AM to 7:00 PM'"
 " 'hours': '9:30 AM to 9:15 PM'" " 'hours': '8:30 AM to 12:30 AM'"
 " 'hours': '5:30 AM to 1:30 AM'" " 'hours': '2:00 AM to 12:00 AM'"
 " 'hours': '6:00 AM to 2:30 AM'" " 'hours': '6:00 AM to 3:00 AM'"
 " 'hours': '7:00 AM to 12:30 AM'" " 'hours': '12:30 PM to 7:30 PM'"
 " 'hours': '5:30 AM to 11:30 PM'" " 'hours': '7:00 AM to 3:00 AM'"
 " 'hours': '9:45 AM to 10:00 PM'" " 'hours': '10:30 AM to 9:00 PM'"
 " 'hours': '11:30 AM to 8:30 PM'" " 'hours': '6:00 AM to 1:30 AM'"
 " 'hours': '6:30 AM to 3:30 AM'" " 'hours': '5:30 AM to 12:00 AM'"
 " 'hours': '7:15 AM to 10:30 PM'" " 'hours': '7:15 AM to 7:30 PM'"
 " 'hours': '7:15 AM to 9:00 PM'" " 'hours': '7:00 AM to 7:00 AM'"
 " 'hours': '7:15 AM to 10:00 PM'" " 'hours': '8:00 AM to 12:30 AM'"
 " 'hours': '9:45 AM to 8:00 PM'" " 'hours': '7:15 AM to 9:30 PM'"
 " 'hours': '7:45 AM to 8:00 PM'" " 'hours': '4:45 AM to 11:00 PM'"
 " 'hours': '11:00 AM to 11:00 PM'" " 'hours': '5:30 AM to 2:30 AM'"
 " 'hours': '7:45 AM to 7:15 PM'" " 'hours': '8:30 AM to 7:15 PM'"
 " 'hours': '9:15 AM to 6:30 PM'" " 'hours': '7:00 AM to 2:00 AM'"
 " 'hours': '3:00 AM to 11:00 PM'" " 'hours': '8:00 AM to 5:15 PM'"
 " 'hours': '5:00 AM to 12:30 AM'" " 'hours': '11:00 AM to 11:30 PM'"
 " 'hours': '5:00 AM to 1:30 AM'" " 'hours': '10:30 AM to 12:00 AM'"
 " 'hours': '8:00 AM to 2:00 AM'" " 'hours': '9:00 AM to 10:00 AM'"
 " 'hours': '10:30 PM to 9:00 PM'" " 'hours': '8:30 AM to 7:30 PM'"
 " 'hours': '7:00 AM to 9:15 PM'" " 'hours': '5:00 AM to 1:00 AM'"
 " 'hours': '8:00 AM to 1:30 AM'" " 'hours': '10:00 AM to 4:00 PM'"
 " 'hours': '9:00 AM to 4:30 PM'" " 'hours': '9:30 AM to 5:45 PM'"
 " 'hours': '12:00 PM to 6:00 PM'" " 'hours': '7:30 AM to 3:15 PM'"
 " 'hours': '7:30 AM to 5:15 PM'" " 'hours': '7:00 AM to 11:15 PM'"
 " 'hours': '7:45 AM to 5:30 PM'" " 'hours': '6:45 AM to 7:30 PM'"
 " 'hours': '6:15 AM to 7:30 PM'" " 'hours': '6:45 AM to 10:00 PM'"
 " 'hours': '10:00 AM to 3:00 PM'" " 'hours': '4:45 AM to 9:30 PM'"
 " 'hours': '8:30 AM to 1:00 AM'" " 'hours': '9:30 AM to 4:00 AM'"
 " 'hours': '8:30 AM to 4:00 AM'" " 'hours': '9:00 AM to 12:10 AM'"
 " 'hours': '4:00 PM to 12:00 AM'" " 'hours': '6:45 AM to 1:00 AM'"
 " 'hours': '8:15 AM to 12:00 AM'" " 'hours': '12:00 PM to 11:00 PM'"
 " 'hours': '7:30 AM to 11:45 PM'" " 'hours': '10:15 AM to 9:30 PM'"
 " 'hours': '12:00 AM to 8:30 PM'" " 'hours': '12:45 PM to 10:00 PM'"
 " 'hours': '7:15 AM to 6:15 PM'" " 'hours': '7:45 AM to 6:30 PM'"
 " 'hours': '10:00 AM to 11:45 PM'" " 'hours': '8:45 AM to 11:00 PM'"
 " 'hours': '8:15 AM to 3:45 PM'" " 'hours': '8:15 AM to 8:00 PM'"
 " 'hours': '9:30 AM to 6:00 PM'" " 'hours': '6:30 AM to 8:15 PM'"
 " 'hours': '6:15 AM to 6:00 PM'" " 'hours': '11:30 AM to 10:30 PM'"
 " 'hours': '5:45 AM to 8:00 PM'" " 'hours': '6:00 AM to 9:15 PM'"
 " 'hours': '7:30 AM to 4:15 PM'" " 'hours': '8:30 AM to 5:00 PM'"
 " 'hours': '6:45 AM to 8:30 PM'" " 'hours': '3:00 PM to 9:30 PM'"
 " 'hours': '2:30 PM to 9:30 PM'" " 'hours': '12:30 PM to 9:00 PM'"
 " 'hours': '11:30 AM to 9:30 PM'" " 'hours': '12:00 PM to 10:30 PM'"
 " 'hours': '6:15 AM to 7:45 PM'" " 'hours': '4:00 AM to 12:15 PM'"
 " 'hours': '8:30 AM to 3:00 PM'" " 'hours': '9:30 AM to 1:00 AM'"
 " 'hours': '9:15 AM to 11:00 PM'" " 'hours': '12:45 PM to 12:00 AM'"
 " 'hours': '7:45 AM to 9:15 PM'" " 'hours': '8:30 AM to 9:15 PM'"
 " 'hours': '7:00 AM to 10:45 PM'" " 'hours': '6:30 AM to 2:30 AM'"
 " 'hours': '10:00 AM to 10:00 AM'" " 'hours': '2:30 PM to 8:30 PM'"
 " 'hours': '6:30 AM to 12:30 PM'"]

In [34]:
def parse_hours(hours_str):
    # Check for NaN (missing data)
    if pd.isna(hours_str):
        return pd.Series([None, None])
    
    # Remove the leading 'hours': part of the string and strip leading/trailing spaces
    hours_str = hours_str.replace("'hours':", "").strip()
    
    # Handle the 'Closed' entries
    if hours_str.lower() == "'closed'":
        return pd.Series([None, None])

    # Now split the string by 'to'
    try:
        start_time, end_time = hours_str.split(' to ')
        return pd.Series([start_time.strip(), end_time.strip()])
    except ValueError:
        # Handle any unexpected formats by returning None
        return pd.Series([None, None])

# Apply the function to the 'Hours' column to create two new columns
Tuesday[['Start Time', 'End Time']] = Tuesday['Hours'].apply(parse_hours)

Tuesday

,Hours,Open,Holiday,Start Time,End Time
0,'hours': '8:30 AM to 10:30 PM','open': True,'holiday': '','8:30 AM,10:30 PM'
1,'hours': '7:30 AM to 10:00 PM','open': True,'holiday': '','7:30 AM,10:00 PM'
2,'hours': '8:00 AM to 10:00 PM','open': True,'holiday': '','8:00 AM,10:00 PM'
3,'hours': '8:00 AM to 10:00 PM','open': True,'holiday': '','8:00 AM,10:00 PM'
4,'hours': '8:00 AM to 8:30 PM','open': True,'holiday': '','8:00 AM,8:30 PM'
...,...,...,...,...,...
28284,'hours': '7:30 AM to 8:30 PM','open': True,'holiday': '','7:30 AM,8:30 PM'
28285,'hours': '5:30 AM to 9:00 PM','open': True,'holiday': '','5:30 AM,9:00 PM'
28286,'hours': '6:00 AM to 8:00 PM','open': True,'holiday': '','6:00 AM,8:00 PM'
28287,'hours': '6:00 AM to 9:00 PM','open': True,'holiday': '','6:00 AM,9:00 PM'
28288,'hours': '5:30 AM to 10:00 PM','open': True,'holiday': '','5:30 AM,10:00 PM'

Re-Order Columns In terms of Relevancy

In [35]:
new_order = ['Hours', 'Start Time', 'End Time', 'Open', 'Holiday']


Tuesday = Tuesday[new_order]

Tuesday

,Hours,Start Time,End Time,Open,Holiday
0,'hours': '8:30 AM to 10:30 PM','8:30 AM,10:30 PM','open': True,'holiday': ''
1,'hours': '7:30 AM to 10:00 PM','7:30 AM,10:00 PM','open': True,'holiday': ''
2,'hours': '8:00 AM to 10:00 PM','8:00 AM,10:00 PM','open': True,'holiday': ''
3,'hours': '8:00 AM to 10:00 PM','8:00 AM,10:00 PM','open': True,'holiday': ''
4,'hours': '8:00 AM to 8:30 PM','8:00 AM,8:30 PM','open': True,'holiday': ''
...,...,...,...,...,...
28284,'hours': '7:30 AM to 8:30 PM','7:30 AM,8:30 PM','open': True,'holiday': ''
28285,'hours': '5:30 AM to 9:00 PM','5:30 AM,9:00 PM','open': True,'holiday': ''
28286,'hours': '6:00 AM to 8:00 PM','6:00 AM,8:00 PM','open': True,'holiday': ''
28287,'hours': '6:00 AM to 9:00 PM','6:00 AM,9:00 PM','open': True,'holiday': ''
28288,'hours': '5:30 AM to 10:00 PM','5:30 AM,10:00 PM','open': True,'holiday': ''

In [36]:
Tuesday.drop(columns='Hours', inplace=True)
Tuesday

C:\Users\22837352\AppData\Local\Temp\ipykernel_9100\3160090432.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Tuesday.drop(columns='Hours', inplace=True)

      Start Time   End Time           Open         Holiday
0       '8:30 AM  10:30 PM'   'open': True   'holiday': ''
1       '7:30 AM  10:00 PM'   'open': True   'holiday': ''
2       '8:00 AM  10:00 PM'   'open': True   'holiday': ''
3       '8:00 AM  10:00 PM'   'open': True   'holiday': ''
4       '8:00 AM   8:30 PM'   'open': True   'holiday': ''
...          ...        ...            ...             ...
28284   '7:30 AM   8:30 PM'   'open': True   'holiday': ''
28285   '5:30 AM   9:00 PM'   'open': True   'holiday': ''
28286   '6:00 AM   8:00 PM'   'open': True   'holiday': ''
28287   '6:00 AM   9:00 PM'   'open': True   'holiday': ''
28288   '5:30 AM  10:00 PM'   'open': True   'holiday': ''

[28288 rows x 4 columns]

In [40]:
print(Tuesday['Holiday'].unique())

[" 'holiday': ''" nan]

In [47]:
pd.set_option('display.max_colwidth', None)
Tuesday['Holiday'].head(50)

0
1
2
3
4
5
6
7
8
9
10
11
12
13    NaN
14
15
16
17
18
19
20    NaN
21
22
23
24
25
26
27
28
29    NaN
30
31
32
33
34
35
36
37
38    NaN
39
40
41    NaN
42
43
44    NaN
45
46
47
48
49
Name: Holiday, dtype: object

### Remove apostrophes and clean up 'Open' and 'Holiday' columns in Tuesday DataFrame

In [44]:

Tuesday['Start Time'] = Tuesday['Start Time'].str.replace("'", "")
Tuesday['End Time'] = Tuesday['End Time'].str.replace("'", "")
Tuesday['Open'] = Tuesday['Open'].str.replace("open: ", "").str.strip()  
Tuesday['Holiday'] = Tuesday['Holiday'].str.replace("holiday: ", "").str.strip()  
Tuesday['Open'] = Tuesday['Open'].str.replace("'", "")
Tuesday['Holiday'] = Tuesday['Holiday'].str.replace("'", "")
Tuesday['Open'] = Tuesday['Open'].str.replace("open:", "").str.strip()
Tuesday['Holiday'] = Tuesday['Holiday'].str.replace("holiday:", "").str.strip()


Tuesday

C:\Users\22837352\AppData\Local\Temp\ipykernel_9100\1295831103.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Tuesday['Start Time'] = Tuesday['Start Time'].str.replace("'", "")
C:\Users\22837352\AppData\Local\Temp\ipykernel_9100\1295831103.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Tuesday['End Time'] = Tuesday['End Time'].str.replace("'", "")
C:\Users\22837352\AppData\Local\Temp\ipykernel_9100\1295831103.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Tuesday['Open'] = Tuesday['Open'].str.replace("open: ", "").str.strip()  # Includes space after colon for cleaner replace
C:\Users\22837352\AppData\Local\Temp\ipykernel_9100\1295831103.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Tuesday['Holiday'] = Tuesday['Holiday'].str.replace("holiday: ", "").str.strip()  # Includes space after colon for cleaner replace
C:\Users\22837352\AppData\Local\Temp\ipykernel_9100\1295831103.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Tuesday['Open'] = Tuesday['Open'].str.replace("'", "")
C:\Users\22837352\AppData\Local\Temp\ipykernel_9100\1295831103.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Tuesday['Holiday'] = Tuesday['Holiday'].str.replace("'", "")
C:\Users\22837352\AppData\Local\Temp\ipykernel_9100\1295831103.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Tuesday['Open'] = Tuesday['Open'].str.replace("open:", "").str.strip()
C:\Users\22837352\AppData\Local\Temp\ipykernel_9100\1295831103.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Tuesday['Holiday'] = Tuesday['Holiday'].str.replace("holiday:", "").str.strip()

      Start Time  End Time  Open Holiday
0        8:30 AM  10:30 PM  True
1        7:30 AM  10:00 PM  True
2        8:00 AM  10:00 PM  True
3        8:00 AM  10:00 PM  True
4        8:00 AM   8:30 PM  True
...          ...       ...   ...     ...
28284    7:30 AM   8:30 PM  True
28285    5:30 AM   9:00 PM  True
28286    6:00 AM   8:00 PM  True
28287    6:00 AM   9:00 PM  True
28288    5:30 AM  10:00 PM  True

[28288 rows x 4 columns]

## Analyze the data by open and close times
        how: split the schedule to columns with open close regardless of whi
DAy name = 3

hours=2

open = 1

holiday=4

rearrange 
then format the '[' and '{}'

check holiday for any info